<h1>My Events</h1>

<h3>Created Events: </h3>
<% current_user.created_events.each do |event| %>
<ul>
	<li>
		<strong>Event: </strong>		
		<%= event.name %>
		<strong>Location: </strong>
		<%= event.location %>
		<strong>Date:</strong>
		<%= l event.start_date, format: :date_format %>
		<%= link_to 'Show', event_path(event) %>
	</li>
</ul>
<% end %>


<h3>Upcoming Events: </h3>
<% upcoming_events.each do |event| %>
<ul>
	<li>
	<strong>Event: </strong>		
		<%= event.name %>
		<strong>Location: </strong>
		<%= event.location %>
		<strong>Date:</strong>
		<%= l event.start_date, format: :date_format %>
		<%= link_to 'Show', event_path(event) %>
	
	</li>
</ul>
<% end %>

<h3>Previously Attended Events: </h3>
<% previous_events.each do |event| %>
<ul>
	<li>
		<strong>Event: </strong>		
		<%= event.name %>
		<strong>Location: </strong>
		<%= event.location %>
		<strong>Date:</strong>
		<%= l event.start_date, format: :date_format %>
		<%= link_to 'Show', event_path(event) %>
	</li>
</ul>
<% end %> 
<br>
<br>
<hr>

<% if current_user %>      
<%= link_to 'Create New Event', new_event_path %>
<% end %>